<?xml version="1.0" encoding="utf-8"?>
<configuration>
<!--<configSections>
    <section name="CRDMTypeSection" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  
  <CRDMTypeSection name="POS">
    <add key="locationPredicate" value="StoreNo" />
  </CRDMTypeSection>-->

<startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
</startup>

<appSettings>
  <!--POS CRDM settings - used to generate the xml files if being done dynamically-->
  <!--The machine name or IP address of the server hosting the SQL instance where the CRDM database is-->
  <add key="dataSource" value="SP26\MSSQLSERVER2016"/>
  <!--The name of the CRDMPointOfSale Database-->
  <add key="pointOfSaleDatabaseName" value="CRDMPointOfSale187"/>
  <!--The name of the CRDMOnline Database-->
  <add key="onlineDatabaseName" value="CRDMOnline"/>

  <!--The name of the Inventory Database-->
  <add key="inventoryDatabaseName" value="CRDMInventory"/>
  
  <!--The name of the TRE_RETURN_15 Database-->
  <add key="verifyDatabaseName" value="TRE_RETURN_15"/>
  
  <!--The user to use to connect to the SQL instance hosting the CRDM database-->
  <add key="userId" value="sa"/>
  <!--The password for the user-->
  <add key="password" value="Hardc0re"/>
  <!--An indicator to say whether a Metadata database is available-->
  <add key="metadataExists" value="No"/>
  <!--The domain name used by the Secure instance to identify the Metadata database-->
  <add key="domain" value="SYSREPUBLIC"/>

  <!--The path for files to be saved to or retrieved from-->
  <add key="rootFilePath" value="C:\POSTransactionClassBuilder Testing\"/>

  <!--The information required for creating the class and assembly-->
  <!--The path and name for the .cs file which will be created-->
  <add key="rootTable" value="CRDM_Header"/>
  <add key="onlineRootTable" value="OrderHeader"/>
  <add key="inventoryrootTable" value="Journal"/>
  <add key="verifyrootTable" value="returns"/>
  
  <!--POS Sql Extract Join field-->
  <!--<add key="joinField" value="TransactionID,EndTransDateTime" />-->
  <add key="joinField" value="return_id"/>
  <!--How many top level tables are there?-->
  <add key="topLevelTableCount" value="1"/>
  <!--The top level tables which have a one-to-one relationship with the root table - there can be multiple-->
  <!--<add key="topLevelTable1" value="CRDM_FastFact" />-->
  <add key="topLevelTable1" value="returns"/>
  <!--The Field in the source data which will be used to partition the location-->
  <!--<add key="locationPredicate" value="StoreNo" />-->

  <!--Online Sql Extract Join field-->
  <!--<add key="joinField" value="OrderID" />-->
  <!--How many top level tables are there?-->
  <!--<add key="topLevelTableCount" value="0" />-->
  <!--The top level tables which have a one-to-one relationship with the root table - there can be multiple-->
  <!--<add key="topLevelTable1" value="CRDM_FastFact" />-->
  <!--The Field in the source data which will be used to partition the location-->
  <!--<add key="locationPredicate" value="StoreNo" />-->

  <!--Inventory Sql Extract Join field-->
  <!--<add key="joinField" value="ActivityID" />-->
  <!--How many top level tables are there?-->
  <!--<add key="topLevelTableCount" value="0" />-->
  <!--The top level tables which have a one-to-one relationship with the root table - there can be multiple-->
  <!--<add key="topLevelTable1" value="CRDM_FastFact" />-->
  <!--The Field in the source data which will be used to partition the location-->
  <!--<add key="locationPredicate" value="StoreNo" />-->

  <!--Searchable and Builder stuff-->
  <!--The name for the xml file which will be created and used to create the SBD And searchables-->
  <add key="searchableSourceXmlFilePath" value="CRDMXmlForSearchableCreation.xml"/>
  <add key="onlineSearchableSourceXmlFilePath" value="OnlineXmlForSearchableCreation.xml"/>
  <add key="inventorySearchableSourceXmlFilePath" value="InventoryXmlForSearchableCreation.xml"/>
  <add key="verifySearchableSourceXmlFilePath" value="VerifyXmlForSearchableCreation.xml"/>

  
  <!--The name constructor string for the searchables-->
  <add key="searchableSaveFilePath" value="{0}_{1} Searchable.xml"/>
  
  <!--The name constructor string for the builders-->
  <add key="builderSaveFilePath" value="{0}_CRDM SearchBuilderDefinition.xml"/>
  <add key="onlineBuilderSaveFilePath" value="{0}_Online SearchBuilderDefinition.xml"/>
  <add key="inventoryBuilderSaveFilePath" value="{0}_Inventory SearchBuilderDefinition.xml"/>
  <add key="verifyBuilderSaveFilePath" value="{0}_Verify SearchBuilderDefinition.xml"/>

  
  <!--The name of the sql connection that will be used in the searchables used by Secure4 to connect to the CRDM database-->
  <!--<add key="sqlConnection" value="sql-crdm-servicehost" />-->
  <!--<add key="sqlConnection" value="sql-crdmonline-direct" />-->
  <!--<add key="sqlConnection" value="sql-crdminventory-direct" />-->
  <add key="sqlConnection" value="sql-verify-direct"/>
  
  <!--The name of the hdk connection that will be used in the searchables used by Secure4 to connect to the HDK instance-->
  <add key="hdkConnection" value="hdk-servicehost"/>
 
  <!-- Configure the target Database Servers for the generated Searchable and SearchBuilders-->
  <add key="mssql-target-database" value="false"/>
  <add key="postgressql-target-database" value="false"/>
  <add key="hdk-target-database" value="false"/>
  <add key="verify-target-database" value="true"/>


  <!-- Enable the Databases to generate Searchable and Builders-->
  <add key="generateForCRDMPointOfSale" value="false"/>
  <add key="generateForCRDMOnline" value="false"/>
  <add key="generateForInventory" value="false"/>
  <add key="generateForVerify" value="true"/>
  
</appSettings>

<system.web>
  <membership defaultProvider="ClientAuthenticationMembershipProvider">
    <providers>
      <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
    </providers>
  </membership>
  <roleManager defaultProvider="ClientRoleProvider" enabled="true">
    <providers>
      <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
    </providers>
  </roleManager>
</system.web>
<runtime>
  <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
    <dependentAssembly>
      <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
      <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0"/>
    </dependentAssembly>
  </assemblyBinding>
</runtime>
</configuration>
