openapi: 3.0.3
info:
  title: elJeffe — Universal Event Notarization API
  description: >
    The elJeffe API provides universal event notarization via cryptographic
    hash inscription on the Bitcoin timechain. Every webhook-originated event
    is hashed, sealed, batched into Merkle trees, and inscribed as Ordinals
    on Bitcoin. Immutable. Ordered by block height. Replayable from any
    inscription point. The permanent successor to the IBM 4690 tLog.
    Built by elJeffe. Stored on Bitcoin. Forever.
    Note: This is an architecture specification. These endpoints describe the target API design and are not yet live.
  version: 1.0.0
  contact:
    name: GrowDirect
    url: https://growdirect.io
  license:
    name: Proprietary
    url: https://growdirect.io/legal/terms.html

security:
  - L402: []

servers:
  - url: https://api.growdirect.io
    description: Production — elJeffe API

paths:
  /glog:
    get:
      summary: Query gLog entries for a merchant
      description: >
        Retrieve the permanent transaction log for a specific merchant.
        The gLog is an ordered sequence of POS events inscribed as Bitcoin
        Ordinals. Each entry is immutable, timestamped by block height,
        and replayable from any inscription point. Use this endpoint for
        deterministic state reconstruction of a merchant's complete
        transaction history.
      operationId: getGlogEntries
      tags:
        - gLog
      parameters:
        - name: merchant_id
          in: query
          required: true
          description: >
            Partitioned merchant identifier. Each merchant's gLog is an
            independent ordered chain of inscriptions on the Bitcoin timechain.
          schema:
            type: string
            example: "m_growdirect_lab_001"
        - name: from_block_height
          in: query
          required: false
          description: >
            Bitcoin block height from which to begin deterministic state
            reconstruction. If omitted, returns entries from the merchant's
            first inscription forward. Use this for replay and rehydration —
            pick any block height, reconstruct state from that point.
          schema:
            type: integer
            format: int64
            example: 884201
        - name: limit
          in: query
          required: false
          description: Maximum number of gLog entries to return per request.
          schema:
            type: integer
            default: 100
            maximum: 1000
      responses:
        '200':
          description: gLog entries retrieved successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  merchant_id:
                    type: string
                    description: Partitioned merchant identifier.
                  entries:
                    type: array
                    items:
                      $ref: '#/components/schemas/gLogEntry'
                  total:
                    type: integer
                    description: Total gLog entries for this merchant.
                  replay_from:
                    type: integer
                    format: int64
                    description: >
                      Block height of the first entry in this response.
                      Use for deterministic state reconstruction.
        '402':
          description: >
            Payment Required. Validation requests require Lightning
            micropayment. Invoice returned in response headers.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentRequired'

  /glog/{inscription_id}:
    get:
      summary: Retrieve a single gLog entry by inscription ID
      description: >
        Look up a specific gLog entry by its Bitcoin Ordinal inscription ID.
        Returns the complete entry including event hash, block height,
        chain reference, and Merkle proof for independent verification.
        This is the permanent, immutable record of a POS event on the
        Bitcoin timechain.
      operationId: getGlogEntry
      tags:
        - gLog
      parameters:
        - name: inscription_id
          in: path
          required: true
          description: >
            Bitcoin Ordinal inscription ID. This is the permanent identifier
            for a gLog entry on the Bitcoin timechain. Once inscribed, this
            ID is valid forever.
          schema:
            type: string
            example: "i39f7a2b8c..."
      responses:
        '200':
          description: gLog entry retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gLogEntry'
        '404':
          description: Inscription ID not found.

  /validate:
    post:
      summary: Validate an event against the canonical gLog record
      description: >
        Submit an event hash and inscription ID to verify the event
        against the canonical notarization record on the Bitcoin
        timechain. Returns cryptographic proof including block height,
        Merkle position, and independent verification path. Requires
        Lightning micropayment (L402 protocol).
      operationId: validateEvent
      tags:
        - Validation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - event_hash
                - inscription_id
              properties:
                event_hash:
                  type: string
                  description: >
                    SHA-256 hash of the original transaction payload
                    (PII stripped before hashing). This is the fingerprint
                    of the event to validate.
                  example: "sha256:a3f9b2c8d1e4f6a7..."
                inscription_id:
                  type: string
                  description: >
                    Bitcoin Ordinal inscription ID of the gLog entry
                    to validate against.
                  example: "i39f7a2b8c..."
      responses:
        '200':
          description: Event validated successfully against canonical record.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationResult'
        '402':
          description: >
            Payment Required. Lightning invoice provided. Pay the invoice
            to complete validation. This is the L402 micropayment gate —
            sats per validation, perpetual revenue on every proof request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentRequired'

components:
  schemas:
    gLogEntry:
      type: object
      description: >
        The permanent transaction log entry. Every POS event inscribed
        as an Ordinal on the Bitcoin timechain. Immutable, ordered by
        block height, replayable from any inscription point.
        The permanent successor to the IBM 4690 tLog.
        Built by elJeffe. Stored on Bitcoin. Forever.
      required:
        - merchant_id
        - event_hash
        - inscription_id
        - block_height
      properties:
        merchant_id:
          type: string
          description: >
            Partitioned merchant identifier. Each merchant's gLog is
            an independent chain of inscriptions.
          example: "m_growdirect_lab_001"
        event_hash:
          type: string
          description: >
            SHA-256 hash of the original transaction payload. PII is
            cryptographically stripped before hashing — the event is
            proven, the identity is protected. This hash is the
            permanent, verifiable fingerprint of the transaction.
          example: "sha256:a3f9b2c8d1e4f6a7b3c9d2e5f8a1b4c7..."
        inscription_id:
          type: string
          description: >
            Bitcoin Ordinal inscription ID. The permanent, globally
            unique identifier for this gLog entry on the Bitcoin
            timechain. Valid forever.
          example: "i39f7a2b8c4d6e1f3a5b7c9d2e4f6a8b0..."
        block_height:
          type: integer
          format: int64
          description: >
            Bitcoin block height at time of inscription. This is the
            global timestamp — ordered, immutable, and controlled by
            no entity. Block height is the filing date for the
            permanent record.
          example: 884201
        previous_inscription_id:
          type: string
          nullable: true
          description: >
            Chain reference to the prior gLog entry for this merchant.
            Each inscription links to the previous one, creating an
            ordered, verifiable chain. Null for the merchant's first
            gLog entry (genesis inscription).
          example: "i28e6b1a7d3c5f0e2b4a6c8d1e3f5a7b9..."
        replay_from:
          type: integer
          format: int64
          description: >
            Block height for deterministic state reconstruction.
            Start from this block height and replay every subsequent
            inscription forward to reconstruct exact POS state at
            any point in the merchant's history. Pick any moment.
            Rehydrate from there.
          example: 880000
        merkle_root:
          type: string
          description: >
            Root hash of the Merkle tree batch containing this entry.
            Multiple event hashes are batched into a Merkle tree with
            the root inscribed as the canonical record. Each event is
            independently verifiable via its Merkle proof path.
          example: "sha256:f1e2d3c4b5a6..."
        merkle_proof:
          type: array
          items:
            type: string
          description: >
            Merkle proof path for independent verification.
            Provides the hash siblings needed to reconstruct the
            Merkle root from this specific event hash, proving
            inclusion in the inscribed batch without requiring
            access to any other event data.
        timestamp:
          type: string
          format: date-time
          description: >
            ISO 8601 timestamp of when the event was received at the
            elJeffe API gateway. Block height is the authoritative
            timestamp; this field records gateway receipt time for
            operational reference.
          example: "2026-02-27T14:23:01Z"

    ValidationResult:
      type: object
      description: >
        Cryptographic proof that an event matches the canonical
        notarization record on the Bitcoin timechain.
      properties:
        verified:
          type: boolean
          description: Whether the event hash matches the canonical record.
          example: true
        block:
          type: integer
          format: int64
          description: Bitcoin block height of the inscription.
          example: 884201
        merkle_position:
          type: integer
          description: Position of this event in the Merkle batch.
          example: 4721
        inscription_id:
          type: string
          description: Bitcoin Ordinal inscription ID.
          example: "i39f7a2b8c..."
        timestamp:
          type: string
          format: date-time
          description: Gateway receipt timestamp.
          example: "2026-02-27T14:23:01Z"
        canonical_authority:
          type: string
          description: The canonical authority that inscribed this record.
          example: "jeffe.io"
        merkle_proof:
          type: array
          items:
            type: string
          description: >
            Merkle proof path for independent verification against
            a Bitcoin block explorer. No trust required.

    PaymentRequired:
      type: object
      description: >
        L402 payment challenge. Lightning invoice must be paid before
        the validation response is returned. Sats per validation —
        perpetual revenue on every proof request, forever.
      properties:
        status:
          type: integer
          example: 402
        message:
          type: string
          example: "Payment Required"
        invoice:
          type: string
          description: Lightning Network payment invoice (BOLT-11).
          example: "lnbc10n1p..."
        amount_sats:
          type: integer
          description: Amount in satoshis required for this validation.
          example: 10

  securitySchemes:
    L402:
      type: http
      scheme: bearer
      description: >
        L402 (formerly LSAT) authentication. Pay a Lightning invoice
        to receive a macaroon credential for API access. Sat-gated
        validation — the protocol that turns every proof request
        into perpetual revenue.

tags:
  - name: gLog
    description: >
      The permanent transaction log. Immutable POS event records
      inscribed as Bitcoin Ordinals. Ordered by block height.
      Replayable from any inscription point. The permanent successor
      to the IBM 4690 tLog. Built by elJeffe. jeffe.io/glog
  - name: Validation
    description: >
      Sat-gated event validation against the canonical gLog record
      on the Bitcoin timechain. L402 micropayment protocol. Pay sats
      to prove an event happened. Perpetual revenue per verification.
